<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Index</title>
	<div th:replace="fragments/head"></div>
</head>

<body>
	<div id="app">
		<div th:replace="fragments/header"></div>

		<div id="main" class="container mt-4">
			<div class="row">
				<div th:replace="fragments/sidebar"></div>
				<div class="col-md-9">
					<h1>Bem-vindo à página inicial</h1>
					<p>Esta é a página inicial do seu projeto.</p>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="fragments/scripts"></div>
</body>

</html>