<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">

<head>
	<title>Turmas</title>
	<div th:replace="~{fragments/head}"></div>
</head>

<body>
	<div th:replace="~{fragments/sidebar}"></div>

	<div th:replace="~{fragments/header}"></div>

	<div class="container">
		<div class="row mt-4">
			<div class="col-md-8">
				<h2>Turmas</h2>
			</div>
			<div class="col-md-4 text-right">
				<a href="/turmas/cadastrar" class="btn btn-success">
					<i class="fas fa-plus"></i> Novo
				</a>
			</div>
		</div>
		<div class="card-container">
			<div class="col-md-6 offset-md-6 text-end">
				<div class="input-group">
					<input type="text" id="searchInput" class="form-control" placeholder="Pesquisar por nome"
						oninput="handleSearchInput()">
				</div>
			</div>
			<table class="table mt-4">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nome</th>
						<th>Professor</th>
						<th>Ações</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>

	<div th:replace="~{fragments/scripts}"></div>
	<script>
		fetch('http://localhost:8080/classes')
			.then(response => response.json())
			.then(data => {
				data.forEach(classe => {
					const row = document.createElement('tr')
					row.innerHTML = `
                        <td>${classe.id}</td>
                        <td>${classe.name}</td>
						<td>${classe.professor.name}</td>
						<td>
							<a href="/turmas/${classe.id}" class="btn btn-sm btn-primary">
								<i class="fas fa-pencil-alt"></i>
							</a>
							<a href="/turmas/matricula/${classe.id}" class="btn btn-sm btn-success">
								<i class="fas fa-user-plus"></i>
							</a>
							<a href="#" class="btn btn-sm btn-danger" onclick="deleteStudent(${classe.id})">
								<i class="fas fa-trash"></i>
							</a>
						</td>
                    `
					document.querySelector('tbody').appendChild(row)
				})
			})
			.catch(error => {
				console.error('Ocorreu um erro ao obter os dados das turmas:', error)
			})

		function deleteStudent(id) {
			if (confirm('Deseja realmente excluir esta turma?')) {
				fetch(`/classes/${id}`, {
					method: 'DELETE'
				})
					.then(response => {
						if (response.ok) {
							location.reload()
						} else {
							console.error('Ocorreu um erro ao excluir a turma.')
						}
					})
					.catch(error => {
						console.error('Ocorreu um erro ao excluir a turma:', error)
					})
			}
		}

		let searchTimeout

		function handleSearchInput() {
			clearTimeout(searchTimeout)
			searchTimeout = setTimeout(searchStudents, 1000) // Tempo de espera de 1000ms (1s)
		}

		function searchStudents() {
			const searchInput = document.getElementById('searchInput')
			const searchTerm = searchInput.value

			fetch(`/classes/search?email=${searchTerm}`)
				.then(response => response.json())
				.then(data => {
					// Limpar a tabela existente
					const tbody = document.querySelector('tbody')
					tbody.innerHTML = ''

					data.forEach(classe => {
						const row = document.createElement('tr')
						row.innerHTML = `
										<td>${classe.id}</td>
										<td>${classe.name}</td>
										<td>${classe.professor.name}</td>
										<td>
											<a href="/turmas/${classe.id}" class="btn btn-sm btn-primary">
												<i class="fas fa-pencil-alt"></i>
											</a>
											<a href="/turmas/matricula/${classe.id}" class="btn btn-sm btn-success">
												<i class="fas fa-user-plus"></i>
											</a>
											<a href="#" class="btn btn-sm btn-danger" onclick="deleteStudent(${classe.id})">
												<i class="fas fa-trash"></i>
											</a>
										</td>
									`
						tbody.appendChild(row)
					})
				})
				.catch(error => {
					console.error('Ocorreu um erro ao obter os dados das turmas:', error)
				})
		}
	</script>
</body>

</html>